.mintContainer {
    background: url('/assets/images/mint/background.png') no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.animatedMintContainer {
    position: absolute;
    top: rem(60px);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
